*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: #191044;
    color: white;
    display: flex;
}
nav > h2{
    margin-left: 150px;
    font-size: 30px;
    display: flex;
    align-items: center;
}
nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 320px;
}
nav > ul > li{
    list-style: none;
    margin: 0 25px;
    padding:15px;
}
nav > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav > ul > li:hover{
    background-color: black;
}
nav > ul > li:hover > a{
    color: red;
}

/* hero area start */
.hero{
    background-image: url(images/website\ banner.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar{
    padding: 7px;
    width: 400px;

}
.firstIcon{
    padding:6px 8px;
    background-color: rgb(15, 109, 15);
    color: red;
}